.container {
  display: flex;
  column-gap: 57px;
  max-width: 1440px; /* Максимальна ширина контейнера */
  // margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}
