.container {
  max-width: 1400px; /* Максимальна ширина контейнера */
  // margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  overflow-x: hidden;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 480px;
  }
}
