:root {
  --primary-font-family: 'Poppins', sans-serif;
  --font-waight-medium: 500;
  --font-waight-bold: 600;
  --font-size-primary: 14px;
  --font-size-secondary: 16px;
  --letter-spacing-primary: -0.14px;
  --primary-text-color: #292d32;
  --primary-line-height: 21px;
  //   --title-text-color: #212121;
  //   --accent-text-color: #2196f3;
  //   --white-color: #ffffff;
  //   --icon-color: #afb1b8;
  //   --logo-black-color: #000000;
  //   --background-color-hero: #2f303a;
  //   --background-color-footer: #2f303a;
  --background-color-page: #fafbff;
  //   --background-color-team: #f5f4fa;
  //   --address-link-footer: rgba(255, 255, 255, 0.6);
  //   --border-cards: 1px solid #eeeeee;
  //   --transition-duration: 250ms;
  //   --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
