:root {
  --primary-font-family: 'Poppins', sans-serif;
  --font-waight-medium: 500;
  --font-waight-bold: 600;
  --font-size-primary: 14px;
  --font-size-secondary: 16px;
  --letter-spacing-primary: -0.14px;
  --primary-text-color: #292d32;
  --primary-line-height: 21px;
  --background-color-page: #fafbff;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
